* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add box-sizing to handle padding and border within width/height */
}

main{
    padding: 50px;
    text-align: left;
    margin-left: 150px;
    display: flex;
}

.div1{
    color: blue;
    margin-top: 200px;
    font-size: 30px;
}

.div2{
    background-color: rgb(227, 227, 227);
    height: 65vh;
    width: 60%;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 15px;
}

.button{
    height: 50vh;
}

.form{
    padding: 20px;
}


p{
    width: 100%;
}

.input{
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.input1{
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.input2{
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.input3{
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.input4{
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}
